
<%- include("partials/header"); -%>   <!-- partial-->


<h1>Home</h1>
<p> <%= homeContent %></p>
<br>
<form action="/compose" method="get">
         <button class="btn btn-primary btn-lg" type="submit" >Compose</button>
</form>
<br><br>

<!-- here will be the posts that a user entered:-->

<% for(let i=0; i<posts.length; i++){ %>
        <h3><%=posts[i].title%></h3>
        <p><%=posts[i].text.slice(0,99) + "..."%>       <a href="/posts/<%=posts[i]._id%>">Read More</a></p>
       
        
<% } %>


<%- include("partials/footer"); -%> <!-- partial-->